
 <img src="assets\images\istockphoto-1212342896-612x612.jpg">

<div class="container">
 
  <br>
  <h3 style="text-align: center;">employee-list works!</h3>
  <br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">email</th>
        <th scope="col">phone number</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employee">
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.first_name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phno}}</td>
        <td><button class="btn btn-success" (click)="updateEmployeeRecord(emp.id)">update</button></td>
        <td><button class="btn btn-danger" (click)="deleteEmployeeRecord(emp.id)">delete</button></td>
        
      </tr>
    
    </tbody>
  </table>
</div>
